.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
}

button{
  height:100px;
  width: 100px;
  background-color: aqua;
  border: none;
  border-radius: 50%;
  font-size: 70px;
  margin: 10px;
  cursor: pointer;
}
button:hover{
  background-color: aquamarine;
}

h1{
  color: brown;
  padding-bottom: 20px;
}
h2{
  color: blueviolet;
}